*.txt filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.Rds filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
data/raw_counts/240722_primeseq filter=lfs diff=lfs merge=lfs -text
data/raw_counts/241120_primeseq filter=lfs diff=lfs merge=lfs -text
